<p id="notice"><%= notice %></p>

<!-- Service Panels -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Encounter Breakdown</h2>
    </div>
    <div id="encounterHUD">
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-6 img-portfolio">
        <h3>Players</h3>
        <hr />
        <p>
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Add Player</label>
              <div class="col-sm-3">
                <select id="level" class="form-control">
                  <option value="1">Level 1</option>
                  <option value="2">Level 2</option>
                  <option value="3">Level 3</option>
                  <option value="4">Level 4</option>
                  <option value="5">Level 5</option>
                  <option value="6">Level 6</option>
                  <option value="7">Level 7</option>
                  <option value="8">Level 8</option>
                  <option value="9">Level 9</option>
                  <option value="10">Level 10</option>
                  <option value="11">Level 11</option>
                  <option value="12">Level 12</option>
                  <option value="13">Level 13</option>
                  <option value="14">Level 14</option>
                  <option value="15">Level 15</option>
                  <option value="16">Level 16</option>
                  <option value="17">Level 17</option>
                  <option value="18">Level 18</option>
                  <option value="19">Level 19</option>
                  <option value="20">Level 20</option>
                </select>
              </div>
              <div class="col-sm-3">
                <input type="button" id="add_player" value="Add" class="form-control">
              </div>
              <div class="col-sm-3"></div>
            </div>
          </div>

          <div class="row" id="difficultyHUD"></div>

          <div class="row" id="currentPlayers"></div>
        </p>
    </div>
    <div class="col-md-6 img-portfolio">
        <h3>Monsters</h3>
        <hr />
        <p>
          <div id="currentMonsters"></div>
        </p>
    </div>
</div>
<!-- /.row -->

<hr />

<div class="row">
  <h2>Monster Library</h2>
  <div class="row">
    <div id='monsters'></div>
  </div>
</div>
