<p id="notice"><%= notice %></p>

<%= react_component('AllMonsters', name: 'John') %>

<!-- Service Panels -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Encounter Breakdown</h2>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-male fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="panel-body">
                <h4>Number of Players</h4>
                <p><h3 id="number_of_players"></h3></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="panel-body">
                <h4>Number of Monsters</h4>
                <p><h3 id="number_of_monsters"></h3></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="panel-body">
                <h4>Difficulty</h4>
                <p><h3 id="current_difficulty"></h3></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="panel-body">
                <h4>Experience Points</h4>
                <p><h3 id="current_xp" ></h3></p>
            </div>
        </div>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-6 img-portfolio">
        <h3>Players</h3>
        <hr />
        <p>
          <div id="playerLevels"></div>

          <div id="playerBreakdown"></div>

          <div id="current_players">
            <ul class="nav nav-pills" role="tablist" id="stuff">
              <li><a href="#">Home <span class="badge">42</span></a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages <span class="badge">3</span></a></li>
            </ul>
          </div>
        </p>
    </div>
    <div class="col-md-6 img-portfolio">
        <h3>Monsters</h3>
        <hr />
        <p>
          <div id="current_monsters">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>CR</th>
                  <th>Size</th>
                  <th>Type</th>
                  <th>XP</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
        </p>
    </div>
</div>
<!-- /.row -->

<hr />

<div class="row">
  <h2>Monster Library</h2>
  <div class="row">
    <div id='monsters'></div>
  </div>
</div>
